apiVersion: v1
kind: ConfigMap
metadata:
  name: pms-v3-redis-config
data:
  redis.conf: |
    maxmemory 2gb
    maxmemory-policy allkeys-lru
    appendonly yes
    appendfsync everysec
    save 900 1
    save 300 10
    save 60 10000
    tcp-backlog 511
    timeout 0
    tcp-keepalive 300