apiVersion: v1
kind: Service
metadata:
  name: pms-v3-redis
  labels:
    app: pms-v3-redis
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 6379
    targetPort: 6379
    name: redis
  selector:
    app: pms-v3-redis