apiVersion: apps/v1
kind: Deployment
metadata:
  name: pms-v3-web
spec:
  template:
    spec:
      containers:
      - name: web
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1000m"